*
{
  background-color:peru;
}
#mail
{
  color: red;  
}
#ph
{
  color:gold;
}
h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
h3,h4
{
  color: chartreuse;
}
h2
{
  color: white;
}
h3
{
   color:purple;
}

@media (max-width:410px) 
{
   *
   {
    width: 100%;
    background-color: black;
   }
   h1 
   {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   }
}
