#mail
{
  color: red;  
}
#ph
{
  color:gold;
}
h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
*
{
  background-color: black;
  color: white;
}
h3,h4
{
  color: chartreuse;
}
h2
{
  color: white;
}
h3
{
  color: saddlebrown;
}

@media (max-width:410px) 
{
   *
   {
    width: 100%;
   }
}
