html
{
   background-color:black;
   opacity: 1;
}
h1
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 10px white;
}
.code
{
    border: 1px solid white;
    padding-left: 80px;
    padding-bottom: 70px;
    border-radius: 10px;
}
.code
{
    color:lawngreen;
}
#u1,#u2
{
    margin-left: 20px;
}
#i1
{
    color: chocolate;
}
#i2
{
    color: deepskyblue;
}
#i3
{
    color: red;
}
h3
{
    color: green;
}
.img
{
    color:fuchsia;
}