html
{
   background-color:black;
   opacity: 1;
}
h1
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.7px 0.7px 5px gold;
}
.code
{
    border: 1px solid white;
    padding-bottom: 70px;
    border-radius: 10px;
}
.code
{
    color:lawngreen;
}
#u1
{
    margin-left: 20px;
}
#i1
{
    color: chocolate;

}
#i2
{
    margin-left: 25px;
    color: deepskyblue;
}
#u2
{
    margin-left: 30px;
}
#i3
{
    margin-left: 70px;
    color: red;
}
#u3
{
    margin-left: 40px;
}
#i4
{
    margin-left: 120px;
    color: violet;
}
#u4
{
    margin-left: 20px;
}
#i5
{
    margin-left: 160px;
}
h3
{
    color:gold;
    font-weight:bolder;
    margin-left: 50px;
}
.img
{
    margin-left: 2px;
    color:fuchsia;
}
img
{
    height: 400px;
    width: 350px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid green;
}
#r1
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}