html
{
   background-color:black;
   opacity: 1;
}
h1
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.7px 0.7px 5px gold;
}
.code
{
    border: 1px solid white;
    padding-left: 90px;
    padding-bottom: 70px;
    border-radius: 10px;
}
.code
{
    color:lawngreen;
}
#u1,#u2
{
    margin-left: 20px;
}
#i1
{
    color: chocolate;
}
#i2
{
    color: deepskyblue;
}
#i3
{
    color: red;
}
h3
{
    color:gold;
    font-weight:bolder;
    margin-left: -30px;
}
.img
{
    color:fuchsia;
}