html
{
    background-color: black;
    color: white;
}
h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0.5px 0.5px 4px white;
}
li
{
    list-style-type: lower-roman;
    color: aquamarine;
}
.e1
{
    color: gold;
}
.Note
{
    color: red;
    border: 2px solid hotpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 7px hotpink inset;
}
.Note h3
{
    margin: 0;
    border: 0;
}
.Note p
{
    margin: 0;
    border: 0;
}
span
{
    color: red;
    font-weight: bold;
}
img
{
    width: 100%;
}
#L1
{
    color:lawngreen;
}
.Note h3
{
    color: white;
}
video
{
    width: 100%;
    border: 1px solid white;
}
#v1
{
    border: 1px solid lawngreen;
}